:root {
    --color_1: #101828;
    --color_2: #344054;
    --color_3: #2d66ee;
    --color_4: #1d2939;
    --color_5: #98a2b3;
    --color_6: #667085;
    --color_7: #ffffff;

    --font-family_1: 'SF Pro Text', sans-serif;
    --font-family_2: 'Inter', sans-serif;
    --font-family_3: "Inter Bold", sans-serif;
    --font-family_4: "SF Pro Text Medium", sans-serif;
    --font-family_5: "SF Pro Display Semibold", sans-serif;
    --font-family_6: "SF Pro Text Regular", sans-serif;
    --font-family_7: "SF Pro Display Regular", sans-serif;
    --font-family_8: "SF Pro Text Semibold", sans-serif;
    --font-family_9: "Inter Regular", sans-serif;

    --background-color_1: #ffffff;
}